/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgba(18, 18, 18, 70%);
    background-alt: rgba(18, 18, 18, 70%);
    foreground:     rgba(33, 33, 33, 80%);
    selected:       rgba(33, 33, 33, 80%);
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
    text-color:     #fff;
}
